#root {

}

#header {
  display: flex;
  flex-direction: row;
  background-color: gray;
  justify-content: space-around;
  min-height: 200px;
  align-items: center;
}

#who-we-are {
  background-color: teal;
  text-align:center;
  font-size: 50px;
  font-weight:bold;
}

#members {
  display: flex;
  flex-direction: row;
  background-color: yellow;
  justify-content: space-around;
  min-height: 200px;
  align-items: center;
  flex-wrap: wrap;
}

#events-and-links {

}

#events {

}

#links {

}

#footer {

}

.menu-item {
  background-color: blue;


}

.member-item {
  display: flex;
  background-color: clear;
  width: 100px;
  margin: 0 50px;
  flex-wrap: wrap;
}

.member-image {
  border-radius: 50%;
  max-width: 50%;
  align-items: center;
}
.member-name {
  font-weight:bolder;
  font-size: 20px;
  align-items: center;
  white-space: nowrap;
}

.member-interest {
  font-family: cursive;
  font-style: italic;
  font-size: 15px;
}

.member-interest-list {
  font-size: 10px;
  align-items: center;
  align-items: center;
  list-style-type: none;
  white-space:nowrap;
}
